:root{
  --text: #000;
  --text2: #474747;
  --bg: #fff;
  --bg2: #021f4e;
  --highlight: #021f4e;
  --link: #1a73e8;
  --link2: #00a2ff;
  --art: #dcc582;
  --cover: rgba(0,0,0,.5);
  --hover: rgba(32,33,36,.1);
  --border: rgba(218,220,224,.5);
  --shadow:rgba(0,0,0,.12);
  --attention: #e94235;
  --grey: #777;
}