:root {
  --header-height: 60px;
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: var(--sans-font);
  color: var(--text);
  z-index: 7;
  margin: 0 auto;
}

.icon-search {
  background-image: url("/img/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  filter: var(--icons);
  width: var(--header-height);
}

#clinput {
  display: flex;
  height: var(--header-height);
  border-radius: 999px;
  padding: 0 6px;
  transition: background .25s ease-in-out, box-shadow .25s ease-in-out;
}

#clinput input:focus {
  outline: none;
}

body.clinput #clinput input {
  width: 20ch;
}

#clinput input {
  color: var(--text2);
  line-height: var(--header-height);
  background: none;
  padding: 0;
  border: 0;
  width: 0;
  transition: color .25s ease-in-out;
}

#clinput:hover,
body.clinput #clinput {
  background: rgba(0,0,0,.15);
  box-shadow: inset 0 0 0 1px var(--border);
}

#clinput:hover input,
body.clinput #clinput input {
  color: var(--text);
}

.complete-list {
  position: absolute;
  top: 100%;
  z-index: 112;
  width: 14em;
  min-height: 2em;
  background-color: var(--bg);
  box-shadow: 0 14px 28px var(--shadow), 0 10px 10px var(--shadow);
  border-radius: 3px;
}

.complete-parent {
  position: relative
}

.complete-list__empty {
  color: var(--text);
  text-align: center;
  font-style: italic;
  padding: 1em
}

.complete-result {
  color: var(--text);
  padding: .4em 0 .4em .4em;
  display: block;
  cursor: pointer;
  text-align: left
}

.complete-result:hover,
.complete-result:focus,
.complete-result.complete-selected {
  background: var(--link)
}

.complete-result:hover,
.complete-result:hover i,
.complete-result:focus,
.complete-result:focus i,
.complete-result.complete-selected,
.complete-result.complete-selected i {
  color: var(--bg)
}

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: var(--header-height);
  background: var(--bg);
  z-index: 108;
  box-shadow: -1px 5px 6px var(--shadow);
  opacity: 0;
  transform: translateY(-6px);
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}

.shown .dropdown {
  background: none;
  color: var(--text);
  display: block;
  opacity: 1;
  transform: translateY(0);
}

header button {
  background: none;
  border: none;
}

.dasher {
  display: flex;
  height: var(--header-height);
  border-radius: 999px;
  transition: background .25s ease-in-out, box-shadow .25s ease-in-out;
}

.dasher:hover {
  background: rgba(0,0,0,.15);
  box-shadow: inset 0 0 0 1px var(--border);
}

.icon-settings {
  background-image: url("/img/icons/settings.svg");
  background-repeat: no-repeat;
  background-position: center;
  filter: var(--icons);
  width: var(--header-height);
}

#dasher_app {
  border-radius: 3px 0 0 3px;
  width: 225px;
}

#dasher_app .subs .sub:hover {
  background: var(--link);
  color: var(--bg);
  opacity: 1;
}

#dasher_app .sub:hover::before {
  color: #fff;
  opacity: .9;
}

#dasher_app .sub::before {
  float: right;
  font-size: 80%;
  margin-top: .25rem;
  color: #1a73e8;
}

#dasher_app .subs {
  padding: 5px 0;
}

#dasher_app .subs .sub {
  background: none;
  border: none;
  outline: none;
  color: var(--text);
  align-items: normal;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: .5rem 1rem;
  width: 100%;
  text-align: start;
}

#dasher_app .langs button,
#dasher_app .background button {
  display: block;
  padding: .7rem .7rem .7rem 1rem;
  border: none;
  background: none;
  width: 100%;
  color: var(--text);
  text-align: left;
}

#dasher_app .langs .accepted,
#dasher_app .background .accepted {
  border-left: 4px solid var(--art);
}

#dasher_app .langs .current,
#dasher_app .background .current {
  background: var(--link2);
  color: var(--white);
  border-left: none;
}

#dasher_app .langs form {
  max-height: 400px;
  overflow: auto;
}

#dasher_app .head::before {
  color: var(--link);
  opacity: .8;
}


#dasher_app .langs button:hover,
#dasher_app .background button:hover {
  background: var(--link);
  color: var(--bg);
}

#dasher_app .head {
  display: block;
  padding: 1rem;
  width: 100%;
  text-align: start;
}

#dasher_app .head:hover::before {
  opacity: 1;
}

.seek {
  height: var(--header-height);
}

.icon-games {
  background-image: url("/img/icons/quarterboard.svg");
  background-repeat: no-repeat;
  background-position: center;
  filter: var(--icons);
  width: var(--header-height);
  height: var(--header-height);
  transform: scale(0.5);
}

.icon-user {
  background-image: url("/img/icons/account.svg");
  background-repeat: no-repeat;
  background-position: center;
  filter: var(--icons);
  width: var(--header-height);
  height: var(--header-height);
}

#challenge-app {
  overflow: hidden;
  right: 0;
  width: 200px;
  text-align: center
}

#challenge-app .empty {
  background: #fff;
  padding: 2rem 0
}

#dasher_user_app {
  border-radius: 3px 0 0 3px;
  width: 225px;
  background: var(--bg2);
  color: var(--text);
  box-shadow: 0 12px 24px var(--shadow);
}

#dasher_user_app .links a:hover,
#dasher_user_app .links a:hover::before,
#dasher_user_app .links button:hover {
  background: var(--link);
  color: var(--bg);
  opacity: 1;
}

#dasher_user_app .links {
  padding: 5px 0;
}

#dasher_user_app .links a,
#dasher_user_app .links button {
  background: none;
  border: none;
  outline: none;
  color: var(--text);
  align-items: normal;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: .5rem 1rem;
  width: 100%;
  text-align: start;
}


.z {
  display: flex;
  justify-content: flex-start;
}

.t {
  font-size: 30px;
  margin: 12px 20px;
  display: none;
}

@media (min-width: 499.3px) {
  .t {
    display: block;
  }

}

@media(max-width: 499.29px) {
  body.clinput .site-buttons>*:not(#clinput) {
    display: none
  }

  body.clinput #clinput {
    width: 75vw
  }
}

.t a {
  text-decoration: none;
  color: var(--text);
}

body.d .t a {
  color: var(--bg);
}

.t a:hover {
  color: var(--link2);
}

nav {
  display: flex;
}

.m {
  display: block;
  position: relative;
}

.m a {
  display: block;
  padding: 17.5px;
  font-size: 20px;
  text-decoration: none;
  color: var(--text);
}

.m a:hover {
  background: var(--grey);
}

body.d .m a {
  color: var(--bg);
}

.n {
  display: none;
}

@media (max-width: 960px) {
  nav {
    display: flex;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    z-index: 9;
    flex-flow: column;
    width: 50%;
    background: var(--bg2);
    filter: none;
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  }

  .n:checked~#n {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  .n:checked~.r {
    position: fixed;
    background: var(--bg);
  }

  .q {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--cover);
    z-index: 8;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
  }

  .n:checked~.q {
    opacity: 1;
    pointer-events: auto;
  }

  .r {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 9;
  }

  .t {
    margin-left: 80px;
  }

  .u {
    left: 10px;
  }

  .u,
  .u::before,
  .u::after {
    background-color: var(--text);
    width: 40px;
    height: 3px;
    top: 48%;
    position: absolute;
  }

  body.d .u,
  body.d .u::before,
  body.d .u::after {
    background-color: var(--bg);
  }

  .u::before {
    content: "";
    top: -12px;
  }

  .u::after {
    content: "";
    top: 12px;
  }

  .n:checked~.r .u {
    transform: rotate(225deg);
  }

  .n:checked~.r .u::before {
    top: 0;
  }

  .n:checked~.r .u::after {
    transform: rotate(90deg);
    top: 0;
    bottom: 0;
  }
}

a {
  color: var(--link);
  text-decoration: none;
}

.button {
  font-weight: 600;
}

.button {
  background: var(--link);
  text-transform: uppercase;
  padding: .8em 1em;
  border: none;
  cursor: pointer;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  transition: all 150ms;
}

#agreement,
#reconnecting,
.btn-rack__btn,
.btn-rack form,
.upt__info__top .left,
.site-buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.button.button-empty,
.button.button-empty:hover {
  color: var(--link);
}

.button.button-empty {
  transition: none;
  background: none;
  box-shadow: none;
}

.site-buttons .signin {
  margin: 0 1rem;
}

/* Nav end */
