/* Policy, Terms page start */

.subnav a {
  white-space: nowrap
}

@media(max-width: 799.29px) {
  .subnav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%
  }

  .subnav__inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 3px;
    overflow-y: scroll
  }

  .subnav__inner::-webkit-scrollbar {
    display: none;
    width: 0 !important
  }

  .subnav a {
    display: flex;
    align-items: center;
    color: #000;
    padding: .6rem
  }

  .subnav a:hover {
    color: #00a2ff
  }

  .subnav a.active {
    color: #00a2ff;
    position: relative
  }

  .subnav a.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    height: 4px;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    background: #00a2ff;
    border-radius: 1em
  }

  .subnav .sep {
    display: none
  }
}

@media(min-width: 799.3px) {
  .subnav {
    margin-top: 5px;
    z-index: 2
  }

  .subnav a {
    display: block;
    overflow: hidden;
    color: #000;
    padding: .7rem 2vw .7rem .8rem;
    position: relative
  }

  .subnav a::after {
    content: "";
    background: #00a2ff;
    width: 3px;
    position: absolute;
    height: 98%;
    top: 1%;
    right: -1px;
    transform: scale(0)
  }

  .subnav a.active::after,
  .subnav a:hover::after {
    transform: scale(1)
  }

  .subnav a.active {
    color: #000
  }

  .subnav .sep {
    height: 2em
  }
}

.page-menu {
  display: grid;
  grid-template-areas: "menu" "content"
}

@media(min-width: 799.3px) {
  .page-menu {
    grid-template-columns: max-content auto;
    grid-template-rows: min-content;
    grid-template-areas: "menu content"
  }
}

.page-menu.page-small {
  max-width: 1000px;
  margin: inherit
}

.page-menu__menu {
  grid-area: menu
}

.page-menu__content {
  grid-area: content;
  height: 100%
}

.page-menu__content.box {
  min-height: 100%
}

.page .body {
  font-size: 1.1em;
  overflow-wrap: anywhere
}

.page .body code {
  font-family: monospace;
  padding: .2em .5em;
  background: #302e2c;
  color: #ccc;
  font-size: .9em;
  white-space: pre-wrap
}

.page .body pre {
  background: #302e2c;
  padding: 1em 1.5em;
  line-height: 1.4em
}

.page .body pre code {
  background: inherit;
  padding: 0
}

.page .body h2 {
  margin: 1.8em 0 .5em 0;
  border-bottom: 1px solid #00a2ff;
  line-height: 1.5em;
  padding-bottom: .5em
}

.page .body p,
.page .body ul,
.page .body ol {
  margin: 1em 0
}

.page .body ul li {
  list-style: disc outside;
  margin: .5em 0 0 1.5em
}

.page .body ol li {
  list-style: decimal inside;
  margin: .5em 0
}

.page .body li {
  margin-left: 2em
}

.page .body h3 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: 1.3em
}

.page .body h4 {
  font-weight: bold
}

.page .body em {
  font-style: italic
}

.page .body iframe {
  width: 100%
}

.page .body img,
.page .body .block-img {
  max-width: 100%
}

.page .body .block-img {
  margin: 2em auto 1em auto;
  text-align: center
}

.page .body .block-img img {
  width: auto;
  height: auto
}

.page .body .center {
  text-align: center
}

.page .body .copy-zone input {
  flex: 1 1 auto
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-size: 1em
}

h1 {
  font-size: 20px
}

@media(min-width: 320px) {
  h1 {
    font-size: calc(20px + 20 * ((100vw - 320px) / 880))
  }
}

@media(min-width: 1200px) {
  h1 {
    font-size: 40px
  }
}

h1 a {
  color: #2e7cc4
}

h1 a:hover {
  color: #3692e7
}

h2 {
  font-size: 16px
}

@media(min-width: 320px) {
  h2 {
    font-size: calc(16px + 14 * ((100vw - 320px) / 880))
  }
}

@media(min-width: 1200px) {
  h2 {
    font-size: 30px
  }
}

/* Policy, Terms page end*/
