.main {
  display: grid;
}

.showcase {
  min-height: 80vh;
}

.showcase-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  min-height: 100%;
}


.showcase-headings {
  grid-column: 2 / 8;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase-paragraph {
  grid-column: 2 / 8;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 60ch;
  margin: 0 auto;
}

.showcase-action {
  grid-column: 2 / 4;
  grid-row: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase-alternative {
  grid-column: 6 / 8;
  grid-row: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase-action .action,
.showcase-alternative .action {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 2.6em;
  line-height: 1.15;
  padding-block: .6em;
}
