[Unit]
Description=Chessil notify server (%i)
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/chessil.com/notify
Environment=PORT=%i
ExecStart=/usr/bin/node server.js
Restart=always
RestartSec=1
KillSignal=SIGTERM
TimeoutStopSec=30

# Adjust as needed
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
